<strong>Olá. {{ nome }}</strong>
<p>Você teve uma entrega cancelada, detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ produto }} <br />
  <strong>Motivo: </strong> {{ descricao }} <br />
  <br />
  <small>
    Qualquer dúvida entre em contato com a FastFeet.
  </small>
</p>
